html,
body {
  max-width: 100vw;
}

body {
  color: #fff;
  background: #0a0a0a;
  font-family: Syne , Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: Syne , Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}