@use "../../styles/abstracts" as *;

.container {
	position: fixed;
    background-color: #21012a;
    margin-top: 40px;
	width: 100%;
	z-index: -1;
	bottom: 0px;
	z-index: 99;
    
    @include desktop-lg {
		position: fixed;
		bottom: 0px;
        z-index: -1;
    }
}
.bottomBar {
	width: 100%;
	height: 10px;
	background: linear-gradient(
		90deg,
		#00ff84 0%,
		#00c2ff 35%,
		#f7ff00 70%,
		#ff2b2b 100%
	);

	@include desktop-lg {
		margin-top: 0px;
	}

	@include tv {
		height: 12px;
	}
}

.footerMark {
	position: relative;
	height: 90px;
	// overflow: hidden;
	display: grid;
	place-items: center;

	@include desktop-lg {
		height: 120px;
	}

	@include tv {
		height: 120px;
	}
}

.footerPattern {
	position: absolute;
	inset: 0;
	opacity: 0.75;
	background: radial-gradient(circle, rgba(234, 57, 255, 0.6) 1.4px, transparent 1.4px);
	background-size: 10px 10px;
}

.footerLogo {
	position: relative;
	z-index: 2;
	width:70px;
	height: 70px;
	display: grid;
	place-items: center;
	font-size: 2rem;
	font-weight: 900;
	border-radius: 50%;
	backdrop-filter: blur(10px);
	
	@include desktop-lg {
		position: absolute;
		background-color: #24022e;
		top: -30px;
		right: 25%;
		width: 120px;
		height: 120px;
		font-size: 2.5rem;
	}

    img {
        height: 50px;
        
        @include desktop-lg {
            height: 70px;
        }
    }
}